@import "custom.fonts.css";

body {
    --black: #2E2E2E;
    --gray: #CECECE;
    --white: #FFF;
    font-family: "Source Sans 3 VF", serif;
    font-weight: 350;
    font-size: 16px;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 1rem;
    padding-bottom: 0.25rem;
    margin: 0;
}

a {
    color: var(--gray);
}

a:hover {
    color: var(--black);
    transition: 0.3s;
}

.card {
    display: flex;
    flex-wrap: wrap;
    max-width: 20rem;
    padding: 2rem;
    background-color: #FFF;
}

.card .main {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.card .image {
    width: 30%;
    border-radius: 100%;
}

.card .content {
    width: 100%;
}

.card .content .item {
    font-size: 0.8rem;
    display: flex;
    text-align: left;
    align-items: center;
    margin-top: 1rem;
}

.card .content .item .image {
    width: 15%;
    border: 1px solid var(--gray);
    border-radius: 20%;
    margin-right: 1rem;
}

.card .content .item:first-child {
    margin-top: 0;
    padding-bottom: 1rem;
    border-bottom: 1px var(--gray) solid;
}
