/* Fonts */

@font-face {
    font-family: 'Twemoji Mozilla';
    src: url('/assets/fonts/TwemojiMozilla.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans 3 VF';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url('/assets/fonts/SourceSans3VF-Roman.ttf.woff2') format('woff2'),
    url('/assets/fonts/SourceSans3VF-Roman.ttf.woff') format('woff'),
    url('/assets/fonts/SourceSans3VF-Roman.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans 3 VF';
    font-weight: 200 900;
    font-style: italic;
    font-stretch: normal;
    src: url('/assets/fonts/SourceSans3VF-Italic.ttf.woff2') format('woff2'),
    url('/assets/fonts/SourceSans3VF-Italic.ttf.woff') format('woff'),
    url('/assets/fonts/SourceSans3VF-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Consolas';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url('/assets/fonts/consola.ttf') format('truetype');
}
